$var title = 'Mejora de imágen'

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class="text-center">Opciones de mejora de imágen</h3>
                                <div class="divider"></div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="bc">
                                    <h4>Brillo</h4>
                                    <div class="sliders2" id="brillo"></div>
                                    <br>
                                    <h4>Contraste</h4>
                                    <div class="sliders2" id="contraste"></div>
                                    <br>
                                </div>
                                <button class="btn btn-default center-block" id="btn-bc">Aceptar</button>
                                <input type="text" id="brightInp" hidden>
                                <input type="text" id="contrastInp" hidden>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 class="text-center">Mejora HDR</h4><br>
                                <form action="/mejora/mejora-hdr" method="post" enctype="multipart/form-data">
                                    <input name="myfile" type="file" class="center-block">
                                    <button type="submit" class="btn btn-success center-block">Enviar</button>
                                </form>
                                <div class="alert alert-danger center-block" role="alert">
                                    <p class="text-center">
                                        $:msg
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="imagen">
                            <img class="img img-responsive" src="/static/img/001.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>