$var title = 'Mejora de imágen'

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class="text-center">Opciones de mejora de imágen</h3>
                                <div class="divider"></div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4>Brillo</h4>
                                <div class="col-md-12">
                                    <div id="brillo"></div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4>Contraste</h4>
                                <div class="col-md-12">
                                    <div id="contraste"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="divider"></div>
                        <div class="divider center-block" style="width: 50%;"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4 class="text-center">Mejora HDR</h4><br>
                                <form action="/mejora/mejora-hdr" method="post" enctype="multipart/form-data">
                                    <input name="myfile" type="file" class="center-block">
                                    <button type="submit" class="btn btn-success center-block">Enviar archivo</button>
                                </form>
                                <br>
                                <button class="center-block btn btn-default" id="hdr">Aplicar HDR</button>
                                $if msg:
                                    <br>
                                    <div class="alert alert-danger center-block" role="alert">
                                        <p class="text-center">
                                            $:msg
                                        </p>
                                    </div>
                            </div>
                        </div>
                        <div class="divider center-block" style="width: 50%;"></div>
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-9">
                        <div id="imagen">
                            <img class="img img-responsive" src="/static/img/001.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>