<div class="col-md-12">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <form action="/realzado-imagen/" method="post" enctype="multipart/form-data">
                                        <input name="" type="file" class="center-block" />
                                        <div class="divider"></div>
                                        <div class="col-md-12">
                                            <button type="submit"
                                                    name="imagen2"
                                                    value="realzado-filtrado"
                                                    class="btn btn-default center-block">
                                                Movimiento de imágenes
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>