<div class="col-md-12">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <form action="/" method="post" enctype="multipart/form-data">
                        <input name="imagen" type="file" class="center-block"/>
                        <div class="divider"></div>
                        <div class="col-md-4">
                            <button type="submit"
                                    name="imagen1"
                                    value="realzado-filtrado"
                                    class="btn btn-default center-block">
                                Realzado y filtrado
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="submit"
                                    name="imagen1"
                                    value="mejora"
                                    class="btn btn-default center-block">
                                Mejora de imágen
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button type="submit"
                                    name="imagen1"
                                    value="matematica"
                                    class="btn btn-default center-block">
                                Operadores matemáticos
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>