$var title = 'Plataforma web paralela'

<div class="container-fluid" id="main-content">
    <div class="row">
        <div class="hidden-xs col-md-10 col-md-offset-1">
            <div class="wrapper">
                <img src="/static/img/utem001.jpg" alt="">
                <img src="/static/img/utem002.jpg" class="pull-right" alt="">
                <div class="divider"></div>
                <h1 class="text-center" style="display: block">Desarrollo e implementación de una plataforma web paralela</h1>
            </div>
        </div>
        <div class="visible-xs col-xs-10 col-xs-offset-1">
            <div class="wrapper">
                <img src="/static/img/utem001.jpg"
                     class="center-img img-responsive"
                     style="align:center;"
                     alt="Desarrollo e implementación de una plataforma web paralela">
            </div>
        </div>

        <div class="col-md-10 col-xs-10 col-sm-10 col-sm-offset-1 col-md-offset-1 col-xs-offset-1">
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="wrapper">
                        <a href="/realzado-imagen/" class="btn btn-default center-block">Realzado y filtrado</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrapper">
                        <a href="#" class="btn btn-default center-block">Mejora de imágen</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrapper">
                        <a href="#" class="btn btn-default center-block">Movimiento de imágen</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrapper">
                        <a href="#" class="btn btn-default center-block">Operadores matemáticos</a>
                    </div>
                </div>
            </div>
        </div>
        $:integrantes()
    </div>
</div>