$var title = 'Mejora de imágen'

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class="text-center">Operaciones matemáticas</h3>
                                <div class="divider"></div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <button class="boton btn btn-default center-block"
                                        id="fft">
                                    Transformada FFT
                                </button>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <button class="boton btn btn-default center-block"
                                        id="laplace">
                                    Operador LoG
                                </button>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h4>Contraste</h4>
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-9">
                        <div id="imagen">
                            <img class="img img-responsive" src="/static/img/001.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>