body{
    background-color: #555;
}

.center-img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.divider{
    border-top: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.upload-file{
    display: none;
}

.wrapper{
    background-color: white;
    padding: 1em;
    border-top: 5px solid rebeccapurple;
}

#main-content{
    padding:2em;
}

#main-content .wrapper{
    background-color: white;
    padding: 1.5em;
    border-top: 5px solid rebeccapurple;
}