$var title = 'Realzado y filtrado'

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-success center-block" id="subir-imagen">Subir imágen</button>
                        <br>
                        <div class="upload-file">
                            <form action="/realzado-imagen" method="post" enctype="multipart/form-data">
                                <input name="image" type="file" class="center-block" />
                                <input class="center-block" type="submit">
                            </form>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="col-md-9">
                        <img class="img img-responsive" src="/static" alt="Imágen a tratar. . .">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

