$def with (content)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$content.title</title>
    $:css()
</head>
<body>
    $:content
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="wrapper">
                    <a href="/mejora" class="btn btn-primary center-block">Mejora de imagen</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrapper">
                    <a href="/operadores-matematicos" class="btn btn-primary center-block">Operadores matemáticos</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrapper">
                    <a href="/" class="btn btn-success center-block">Volver</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-1.12.3.min.js"></script>
    <script	src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/nouislider.js" type="application/javascript"></script>
    <script src="/static/js/base.js" type="application/javascript"></script>
</body>
</html>