<div class="col-md-4 col-sm-4 col-xs-4">
    <button class="boton btn btn-default center-block" id="autocorreccion">Autocorreción</button>
    <button class="boton btn btn-default center-block" id="bordes">Bordes</button>
    <button class="boton btn btn-default center-block" id="espejo">Espejo</button>
</div>
<div class="col-md-4 col-sm-4 col-xs-4">
    <button class="boton btn btn-default center-block" id="invertir">Invertir imagen</button>
    <button class="boton btn btn-default center-block" id="polar">Efecto Polar</button>
    <button class="boton btn btn-default center-block" id="log_ri">Efecto LoG</button>
</div>
<div class="col-md-4 col-sm-4 col-xs-4">
    <button class="boton btn btn-default center-block" id="convolucion">Convolución</button>
    <button class="boton btn btn-default center-block" id="rgb">Efecto RGB</button>
    <!--Slider de traspuesta-->
    <div id="traspuesta"></div>
</div>