<div class="col-md-12">
    <h4 class="text-center">Redimensionar imágen</h4>
    <h5>Interpolación Nearest</h5>
    <div class="divider"></div>
    <div id="nearest2">
        <div class="Inear"></div>
        <br>
        <div class="Inear"></div>
    </div>
    <p class="help-block" id="alto1"></p>
    <br>
    <h5>Interpolación Bicubic</h5>
    <div id="bicubic2">
        <div class="Ibic"></div>
        <br>
        <div class="Ibic"></div>
    </div>
    <br>
    <h5>Interpolación Bilineal</h5>
    <div id="bilineal2">
        <div class="Ibil"></div>
        <br>
        <div class="Ibil"></div>
    </div>
</div>

<!-- copiar y pegar todo esto en el archivo que está dentro de /mpi/template/realzado_filtrado/op4.html -->