$var title = 'Mejora de imágen'

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <div id="suma"></div>
                        <div id="imagen1"></div>
                        <p class="help-block">Suma de imágenes</p>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-default" href="/static/video/stopMotion.mp4" download>Stop motion</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-default" href="/static/video/bulletTime.mp4" download>Bullet time</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-default" href="/static/video/timeLapse.mp4" download>Time lapse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="wrapper">
                <a href="/" class="btn btn-success">Volver</a>
            </div>
        </div>
    </div>
</div>