$def with (content)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$content.title</title>
    $:css()
</head>
<body>
    $:content

    <script src="/static/js/jquery-1.12.3.min.js"></script>
    <script	src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/nouislider.js" type="application/javascript"></script>
    <script src="/static/js/base4.js" type="application/javascript"></script>
</body>
</html>